src/test/resources/test_suites/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="system" type="systemType"/>
    <xs:complexType name="pfmType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="cabinetType">
        <xs:sequence>
            <xs:element type="shelfType" name="shelf"/>
            <xs:element type="xs:string" name="pdu"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="systemType">
        <xs:sequence>
            <xs:element type="cabinetType" name="cabinet"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="shelfType">
        <xs:sequence>
            <xs:element type="bladeType" name="blade"/>
            <xs:element type="pfmType" name="pfm"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
    <xs:complexType name="bladeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>